.editor-holder {
  // height: 300px !important;
  height: 60vh;
}
.editor-itself {
  height: 100%;
}
// :host ::ng-deep .monaco-editor {
//   // padding-top: 5px;
// }
// //*[@id="editor"]

// @media only screen and (max-width: 425px) {
//   .editor-holder {
//     height: 300px;
//   }
// }
// @media only screen and (max-width: 768px) {
//   .editor-holder {
//     height: 500px !important;
//   }
// }
// @media only screen and (max-width: 1440px) {
//   .editor-holder {
//     height: 500px;
//   }
// }
ngx-monaco-editor {
  height: 100%;
}
