<div class="w-auto">
  <div class="text-center mb-2 font-bold">
    <h1>Convert JSON data into Excel file</h1>
    <h1>Note: Nested JSON will be flattened</h1>
    <!-- {{ jsonText }} -->
  </div>

  <div
    class="editor-holder rounded border-solid border-4 border-gray-500 mb-2 md:mb-0"
  >
    <ngx-monaco-editor
      [options]="editorOptions"
      [(ngModel)]="jsonText"
    ></ngx-monaco-editor>
  </div>

  <div class="flex flex-col md:flex-row">
    <!-- Left side -->

    <!-- xl filename input -->
    <input
      class="bg-white focus:outline-none focus:shadow-outline text-center text-gray-500 border border-gray-500 py-2 px-4 rounded mt-2 md:mr-2"
      type="text"
      [(ngModel)]="fileName"
      placeholder="fileName"
    />

    <button
      class="bg-green-500 hover:bg-green-400 focus:outline-none text-white font-bold py-2 px-4 rounded mt-2"
      (click)="downloadXlFile()"
    >
      <i class="fas fa-file-excel"></i>
      Export as Excel
    </button>
    <!-- </div> -->

    <!-- Right side -->
    <!-- <div class="md:content-end"> -->
    <button
      class="bg-red-500 hover:bg-red-400 focus:outline-none text-white font-bold py-2 px-4 rounded mt-2 md:ml-auto"
      (click)="resetJaonInput()"
    >
      <i class="fas fa-trash-alt"></i>
      Reset
    </button>
    <!-- </div> -->
  </div>
</div>
