<div class="w-auto">
  <div class="text-center mb-2 font-bold">
    <h1>Convert JSON data into Excel file</h1>
  </div>

  <!-- <textarea
    class="min-w-full rounded p-2 border-solid border-4 border-gray-600 focus:outline-none focus:shadow-outline focus:border-green-500"
    rows="10"
    placeholder="Paste JSON here ..."
  ></textarea> -->

  <div class="editor-holder rounded border-solid border-4 border-gray-500">
    <ngs-code-editor
      class="editor-itself"
      [theme]="theme"
      [codeModel]="codeModel"
      [options]="options"
      (valueChanged)="onCodeChanged($event)"
    >
    </ngs-code-editor>
  </div>

  <div class="flex flex-col md:flex-row">
    <!-- Left side -->
    <!-- <div class="md:content-start"> -->
    <button
      class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded mt-2 mb-2"
    >
      <i class="fas fa-paste"></i>
      Paste JSON
    </button>

    <button
      class="bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 rounded mt-2 mb-2 md:ml-2"
    >
      <i class="fas fa-file-excel"></i>
      Download Excel File
    </button>
    <!-- </div> -->

    <!-- Right side -->
    <!-- <div class="md:content-end"> -->
    <button
      class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 rounded mt-8 mb-2 md:ml-auto md:mt-2"
    >
      <i class="fas fa-trash-alt"></i>
      Reset
    </button>
    <!-- </div> -->
  </div>
</div>
